---
import App from '../layouts/App.astro';
---
<App title="Not found">
  <h1 style="font-size:1.3em;">Page not found</h1>
  <p>
    This path isn't in the corpus. Try the <a href="/">briefing</a>,
    the <a href="/home/">corpus home</a>, or <a href="/search/">search</a>.
  </p>
</App>
